body{
  text-align: center;
}

#cenario{
	width: 300px;
	height: 300px;
	margin: auto;
	position: relative;
	border: 1px solid black;
}

#cenario > div{
	position: absolute;
	background-color: tan;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	transition-property: left, top, background-color;
	transition-duration: 1s, 1s, 2s;
	transition-delay: 0.1s;
}

#casa-0{
	color: brown;
	background-color: brown;
	display: none;
}
