body{
  text-align: center;
}

#cenario{
	width: 300px;
	height: 300px;
	margin: auto;
	position: relative;
	border: 1px solid black;
}

#cenario > div{
	position: absolute;
	background-color: tan;
	width: 100px;
	height: 100px;
	border: 1px solid black;
}